### Maven ###
target/

### Intellij ###
# Covers JetBrains IDEs: IntelliJ

## Directory-based project format:
.idea/

## File-based project format:
*.iml

## Plugin-specific files:

# IntelliJ
/out/

### Java ###
*.class

# Package Files #
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
